---
layout: home
---
/* ---- reset ---- */
body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
}
canvas {
  display: block;
  vertical-align: bottom;
}

#particles-js {
    margin-left: auto;
    margin-right: auto;

}
/* ---- particles.js container ---- */

#particles-js {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/0/0d/Germany_location_map.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50% 50%;
}
.particles-js-canvas-el {
	width: 66vw !important;
	height: 75vw !important;
	z-index: 0;
}
