/**
 * Site Info
 */

.footer {
  @include flexbox();
  @include align-items(center);
  background: $footer-background;
  p {
    color: $footer-text-color;
  }
  a {
    @include link-colors ($footer-text-color, $main-color-1);
  }
  
  .footer__brand {
    @include flexbox();
    @include align-items(center);
    & > svg {
      width: map-get($base, font-size-h4) * 1.6;
      height: map-get($base, font-size-h4) * 1.6;
      margin-right: map-get($spacers, 3);
      vertical-align: middle;
      @include media-breakpoint-down(md) {
        width: map-get($base, font-size-h4) * 1.2;
        height: map-get($base, font-size-h4) * 1.2;
      }
    }
    & > a {
      display: inline-block;
      font-size: map-get($base, font-size-h4);
      @include media-breakpoint-down(md) {
        font-size: map-get($base, font-size-h4-small);
      }
    }
  }
  .site-info {
    font-size: map-get($base, font-size-xs);
    text-align: center;
    .menu {
      line-height: map-get($base, line-height-xs);
      & > * {
        &:not(:last-child) {
          @include split-line(right, default, $footer-text-color);
          padding-right: map-get($spacers, 1);
          margin-right: map-get($spacers, 1);
        }
      }
    }
  }
}
.footer__author-links {
  @include overflow(auto);
  .author-links {
    text-align: center;
  }
}
