---
layout: page
type: institution
---

{%- include snippets/assign.html
  target = site.data.variables.default.page.sharing
  source0=layout.sharing source1=page.sharing -%}
{%- assign _sharing = __return -%}

<div class="layout--institution">
  {%- include article/top/custom.html -%}

  <div class="article__content" itemprop="articleBody">
    {{ content }}
    {% if page.myvariable %}
      {% include {{ page.myvariable }} %}
    {% endif %}
     <ul id="list01">
       {% for item in site.institution  %}
          <li><a href="{{ item.url | relative_url }}">{{ item.title }}</a></li>
       {% endfor %}
    </ul>
  </div>

  {%- if _sharing -%}
    <section class="article__sharing d-print-none">{%- include sharing.html -%}</section>
  {%- endif -%}

  <div class="d-print-none">
    {%- include article-footer.html -%}
    {%- include article-section-navigator.html -%}
  </div>

</div>

<script>
  {%- include scripts/article.js -%}
</script>
