---
layout: page
type: institution
---

{%- include snippets/assign.html
  target = site.data.variables.default.page.sharing
  source0=layout.sharing source1=page.sharing -%}
{%- assign _sharing = __return -%}

<div class="layout--institution">
  {%- include article/top/custom.html -%}

  <div class="article__content" itemprop="articleBody">
    {% if page.recordsgraph %}
    <h2>Stats</h2>
    <div class="row">
       <div class="column">
         <h4>Records</h4>
         <div class="recordsgraph">
           {% include {{ page.recordsgraph }} %}
          </div>
         {% endif %}
         {% if page.storagegraph %}
       </div>
       <div class="column">
         <h4>Storage</h4>
         <div class="storagegraph">
           {% include {{ page.storagegraph }} %}
         {% endif %}
         </div>
       </div>
    </div>
    {{ content }}
  </div>

  {%- if _sharing -%}
    <section class="article__sharing d-print-none">{%- include sharing.html -%}</section>
  {%- endif -%}

  <div class="d-print-none">
    {%- include article-footer.html -%}
    {%- include article-section-navigator.html -%}
  </div>

</div>

<script>
  {%- include scripts/article.js -%}
</script>
